a.navbar-brand img {
    width: 300px;
}
.carousel {
    position: relative;
    margin-top: -16px;
}
.header-container {
    position: absolute;
    z-index: 999;
    margin-top:20%;
    padding-left: 10% !important;
}
.navbar-nav a{
    font-size: 20px;
    font-weight: 700;
    color: black;
}