.inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    width: 900px;
    margin: 100px auto;
    justify-content: center;
}
.inventory-manage {
    display: flex;
    width: 700px;
    margin: auto;
    justify-content: center;
}
.inventory-manage a {
    background: #003D00;
    border-radius: 5px;
    margin: 20px;
    padding: 5px 25px;
    color: white;
}
.inventory-product {
    text-align: center;
    font-size: 30px;
    border: 1px solid;
    padding: 50px 0;
}
.inventory-product img {
    width: 300px;
}
.inventory-product {
    text-align: center;
    font-size: 30px;
}
.inventory-product button{
    width: 100px;
}
/* .nav-link:focus,
.nav-link:hover{
    color: white;
} */