.inventory {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    width: 1000px;
    margin: 100px auto;
    align-items: center;
}
.inventory-manage {
    display: flex;
    width: 700px;
    margin: auto;
    justify-content: center;
}